/*Sanchez font*/
@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');

/*All text will be in the Sanchez font 
and be in a dark muted purple*/
* {
  font-family: 'Sanchez', serif;
  color: #913148;
}

/*Give the website a Yellow Pearl background color 
and remove whitespace around the page*/
body, html {
  margin: 0;
  padding: 0;
  background-color: #ECE0C4;
}

/*Scrolling to a specified position is set to animate smoothly*/
html {
  scroll-behavior: smooth;
}

/*https://www.w3schools.com/css/tryit.asp?filename=trycss_grid_layout_named*/

/*Giving grid area names to the sections in home page*/
header         { grid-area: header; }
#home-section1 { grid-area: hsec1;  }
#home-section2 { grid-area: hsec2;  }
#home-section3 { grid-area: hsec3;  }
footer         { grid-area: footer; }

/*Home page will be a grid made of five 
rows and one column (at first glance)*/
.home-page {
  display: grid;
  grid-template-areas:
    'header'
    'hsec1'
    'hsec2'
    'hsec3'
    'footer';
}

/*Header and footer will have a top and bottom pink-red border*/
header, footer {
  border-top: solid;
  border-bottom: solid;
  border-color: #FF3D5C;
}

/*Header will be fixed to the top of the webpage 
and be on top of all other elements. It will also 
be a grid of three columns and one row (which will 
be 10% of the height of the viewport) with a Yellow 
Pearl background*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10vh;
  background-color: #ECE0C4;
}

/*The first section on the home page (after the header)
will take up the remaining space of the viewport. It 
will have an illustration as a background which will 
take up a little more than half of the size of the 
container and be centered with no repetitions. This
container will also be a flex box and have its children
flow in a centered column direction with space in 
between them*/
#home-section1 {
  height: 90vh;

  background-image: url("images/eviii-landing-border.png");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/*The first home section's h1 elements will take
up 100% of the width of the section and have a 
subtle background color to distinguish them from 
the background illustration. They will also have 
some padding for their respective borders*/
#home-section1 h1 {
  width: 100%;
  background-color: rgba(236, 224, 196, 0.8);
  padding: 1vh 6vw;
}

/*The first h1 in the first home section will 
have a pink-red bottom border*/
#home-section1 h1:first-of-type {
  border-bottom: solid;
  border-color: #FF3D5C;
}

/*https://stackoverflow.com/questions/2573544/how-can-i-select-all-children-of-an-element-except-the-last-child*/

/*The second h1 in the first home 
section will have a pink-red top 
border and justified to the right*/
#home-section1 h1:last-of-type {
  border-top: solid;
  border-color: #FF3D5C;
  text-align: right;
}

/*First home section and container of project cards 
will have a pink-red bottom border and a top margin 
that is equivalent to the height of the header because 
fixing the header to the top disrupted the flow of 
the document*/
#home-section1, #project-cardsV1 {
  border-bottom: solid;
  border-color: #FF3D5C;
  margin-top: 10vh;
}

/*Second home section will have a pink-red bottom 
border and be a grid of two columns and one row*/
#home-section2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  border-bottom: solid;
  border-color: #FF3D5C;
}

/*The logo image will have a height equivalent to that of the header*/
#logo img {
  height: 10vh;
}

/*The footer will have a height 20% the height of the viewport*/
footer {
  height: 20vh;
}

/*All h1 elements will be large, 
dynamically sized, and pink-red*/
h1 {
  font-size: 2.35vw;
  color: #FF3D5C;
}

/*All h3 elements will be pink-red*/
h3 {
    color: #FB5C5A;
}

/*The self introduction div will have a pink-red right border*/
#self-intro {
  border-right: solid;
  border-color: #FF3D5C;
}

/*The last paragraph of the self introduction, portfolio 
introduction, and third home page section will have a 
larger bottom margin to match the top margin of the h1
elements they contain at the top*/
#self-intro p:last-child, #portfolio-intro p:last-child, #home-section3 p:last-child {
  margin-bottom: 1.9em;
}

/*The two containers in the second home section will have 
left and right padding that is 10% of the viewport's width*/
#self-intro, #portfolio-intro {
  padding: 0 10vw;
}

/*The container of skills will have no padding*/
#skills {
  padding: 0;
}

/*The h1 elements in the second and third 
home page sections will be centered*/
#home-section2 h1, #home-section3 h1 {
  text-align: center;
}

/*The logo, header links, footer, skills, and
cards'  paragraphs will have their content 
vertically and horizontally centered*/
#logo, header a, footer, #skills p, .card {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*The title, which is the middle link in the header,
will have pink-red left and right borders*/
.amiddle {
  border-left: solid;
  border-right: solid;
  border-color: #FF3D5C;
}

/*The title will have no margin but will be centered*/
.amiddle h1 {
  margin: 0;
  text-align: center;
}

/*The last paragraph in the skills div will have its
default bottom margin which was previously overriden
by the `#portfolio-intro p:last-child` rule*/
#skills p:last-child {
  margin-bottom: 1em;
}

/*The footer, second & third home page sections'
paragraphs, cards, and descriptions will have a small 
font size and be dynamically sized*/
footer, #home-section2 p, #home-section3 p, .card p, .description p {
  font-size: 1.18vw;
}

/*The links in the header, footer, cards, and
paragraphs will be pink-red and not be underlined*/
header a, footer a, .col-of-cardsV1 a, p a {
  color: #FF3D5C;
  text-decoration: none;
}

/*The navigation link will have a fairly large 
size, be dynamically sized, and pink-red*/
nav h2 {
  font-size: 1.75vw;
  color: #FF3D5C;
}

/*The first home page sections will have left and right
padding which will be 10% of the viewport's width */
#home-section1 {
  padding: 0 10vw;
}

/*The third home page section will have 
padding on its left and right of 30% of
the viewport's width*/
#home-section3 {
  padding: 0 30vw;
}

/*The skills container will be a grid 
of three columns and three rows*/
#skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

/*The github tutorial embed will have a
white background, otherwise, it has none*/
#project4 embed {
  background-color: white;
}

/*The container holding the cards of projects
will be a grid of four columns and one row 
(at first glance)*/
#project-cardsV1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

/*This is a second version of the project cards
container and it won't be visible by default*/
#project-cardsV2 {
  display: none;
}

/*The first cards of each column of cards will have some
margin to give it some distance from the header above it*/
.col-of-cardsV1 .card:first-of-type {
  margin-top: 5vh;
}

/*A card will have a pink-red border around it. It's preview
image and card title will be stacked on top of one another like
a column. We'll give each card a width that is a little less 
than a quarter of the viewport's width and have it centered in
a column of cards. All the cards will have some margin at the 
bottom to give them vertical distance from one another*/
.card {
  border: solid;
  border-color: #FF3D5C;

  flex-direction: column;
  margin: auto;
  margin-bottom: 5vh;
  width: 23vw;
}

/*https://getcssscan.com/css-box-shadow-examples*/

/*Give cards a light salmon box shadow when it is hovered over*/
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #F78D76 0px 0px 0px 3px;
}

/*Have a card's content hold the same width as itself*/
.preview img, .caption p {
  width: 23vw;
}

/*Captions will be pink-red*/
.caption p {
  color: #FF3D5C;
}

/*The preview images will have a pink-red bottom border*/
.preview img {
  border-bottom: solid;
  border-color: #FF3D5C;
}

/*The card's text will have some bottom padding 
to make it appear more vertically centered and 
it will be justified to the center*/
.caption {
  padding-bottom: 0.8vh;
  text-align: center;
}

/*A project will be a grid of two columns and 
one row with a pink-red bottom border*/
.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80vh;

  border-bottom: solid;
  border-color: #FF3D5C;
}

/*The last project in the my-works 
webpage will have no bottom border*/
.project:last-of-type {
  border-bottom: none;
}

/*Project descriptions will have pink-red 
right borders and be a flex container with 
its content acting as a centered column 
with some left and right padding 10% of
the viewport's width*/
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-right: solid;
  border-color: #FF3D5C;

  padding: 0 10vw;
}

/*embed elements and .pdf containers
will take up the entirety of their half
of a project's container*/
embed, .pdf {
  width: 100%;
  height: 100%;
}

/*iframes will almost take up the entirety 
of their half of a project's container because
the pdf viewer has a border that makes the 
webpage wider than desired*/
iframe {
  width: 99%;
  height: 99%;
}

/*A pdf container will have a light gray background*/
.pdf {
  background-color: #EEEEEE;
}

/*Project titles and creators will be 
centered in a description container*/
.description h1, .description h3 {
  text-align: center;
}

/*Description h3 elements will be 
slightly large and be dynamically sized*/
.description h3 {
  font-size: 1.4vw;
}

/*Description paragraphs will have a bottom margin
to space them away from each other*/
.description p {
/*  width: 90%;*/
/*  margin: auto;*/
  margin-bottom: 1.5em;
}

/*Pong Remix will have a pistachio background*/
#project5 embed {
  background-color: #BDFFB1;
}

/*Tail on the Turkey will have an orange background*/
#project6 embed {
  background-color: #FFA500;
}

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_smooth_scroll*/
/*https://stackoverflow.com/questions/17534661/make-anchor-link-go-some-pixels-above-where-its-linked-to*/

/*All the projects will have a scroll top margin of 
10% the height of the viewport, otherwise, the 
navigation bar would cover the top of each project*/
#project1, #project2, #project3, #project4, 
#project5, #project6, #project7, #project8, 
#project9, #project10, #project11, #project12 {
  scroll-margin-top: 10vh;
}

/*https://stackoverflow.com/questions/16647380/max-width-vs-min-width*/

/* Media query (phones, 600px and down) 
These css properties will continue to be applied
until the screen surpasses 600 pixels in width */
@media only screen and (max-width: 600px) {

    /*h1 elements will be larger but still responsive*/
    h1 {
      font-size: 7vw;
    }

    /*The title will be smaller than other h1 
    elements to better fit inside the header */
    .amiddle h1 {
      font-size: 4.5vw;
    }

    /*The My Works tab and footer will be the same size
    and slightly smaller than the title's font size*/
    nav h2, footer {
      font-size: 4vw;
    }

    /*The first home section will take up 90% of the 
    view port's height and the background illustration
    will be larger*/
    #home-section1 {
      height: 90vh;
      background-size: 160%;
    }

    /*The second home section will be 
    displayed as a block instead of a grid*/
    #home-section2 {
      display: block;
      padding: 0;
    }

    /*The self intro container will have no right border, but it 
    will have left and right padding of 10% of the viewport's width*/
    #home-section2 div:first-of-type {
      border-right: none;
      padding: 0 10vw;
    }

    /* The container for the self introduction will have a pink-red
    bottom border, the above css selector couldn't be used because it
    would apply a bottom border to the grid in the portfolio introduction */
    #self-intro {
      border-bottom: solid;
      color: #FF3D5C;
    }

    /*The portfolio introduction and third home section will 
    have left and right padding of 10% of the viewport's width*/
    #home-section2 div:last-of-type, #home-section3 {
        padding: 0 10vw;
    }

    /* The paragraphs in the second & third home sections and 
    in the description will be larger */
    #home-section2 p, #home-section3 p, .description p {
      font-size: 3.5vw;
    }

    /* The captions will be slightly smaller than the above paragraphs */
    .caption p {
      font-size: 3vw;
    }

    /*The laptop version of the project cards container will not be visible*/
    #project-cardsV1 {
      display: none;
    }

    /*The mobile version of the project cards container will be a grid 
    of two columns and one row with a pink-red bottom border and some
    margin on the top to lay beneath the header*/
    #project-cardsV2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;

      border-bottom: solid;
      border-color: #FF3D5C;
      margin-top: 10vh;
    }

    /*The mobile version of the column of cards's first cards 
    will have a top margin of 5% of the viewport's heigth*/
    .col-of-cardsV2 .card:first-of-type {
      margin-top: 5vh;
    }

    /*The links in the column of cards will 
    be pink-red and not be underlined*/
    .col-of-cardsV2 a {
      text-decoration: none;
      color: #FF3D5C;
    }

    /*The cards and their content will take up 100%
    of the column of cards' width*/
    .card, .preview img, .caption p {
      width: 100%;
    }

    /*Captions will have a little bit of bottom padding
    to make them appear more vertically centered*/
    .caption {
      padding-bottom: 0.25vh;
    }

    /*The first column of cards will have a left margin of 
    5% of the viewport's width and a right margin of 2.5%*/
    .col-of-cardsV2:first-of-type {
      margin-left: 5vw;
      margin-right: 2.5vw;
    }

    /*The first column of cards will have a left margin of 
    2.5% of the viewport's width and a right margin of 5%*/
    .col-of-cardsV2:last-of-type {
      margin-left: 2.5vw;
      margin-right: 5vw;
    }

    /*The project creators will be slightly 
    larger than the project descriptions*/
    .description h3 {
      font-size: 3.75vw;
    }

    /*Projects will be a grid of one column and one row*/
    .project {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }

    /*Embed and iframe elements wil take 
    up 70% of the viewport's height*/
    embed, iframe {
      height: 70vh;
    }

    /*Descriptions will not have right borders but they will have
    a pink-red top border and appear after the project itself.
    They will contain no padding, but will have a width of 80% 
    of the viewport's width and be centered horizontally*/
    .description {
      border-right: none;
      border-top: solid;
      border-color: #FF3D5C;

      order: 1; /*so it will be on top*/

      padding: 0;
      width: 80vw;
      margin: auto;
    }

    /*Project titles will have some top margin to add space 
    between project descriptions and the project itself*/
    .description h1 {
      margin-top: 5vh;
    }

    /*The last paragraph in each project description 
    will have a little greater of a bottom margin 
    than the top margin of its title*/
    .description p:last-of-type {
      margin-bottom: 6.5vh;
    }

}